<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color: darkblue;
    }
    p{
        color: lightgreen;
        border: 1px solid black;
        
    }
</style>

<body>
    <h1>Welcome to my page</h1>
    <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Grapes</li>
        <li>Banana</li>
        <li>Pineapple</li>
    </ul>
    <p>Dummy data</p>
</body>
</html>